.idea
__pycache__

Training_DatabaseTraining.db
Prediction_DatabasePrediction.db

Training_FileFromDB
Prediction_FileFromDB

Training_Raw_Files_Validated
Prediction_Raw_Files_Validated

Training_Batch_Files
Prediction_Batch_files

Prediction_Output_File

models

K_Means_ElbowPlot

Documentation

Prediction_Logs
Training_Logs

