.idea
__pycache__
Training_DatabaseTraining.db
Training_FileFromDB/InputFile.csv
Training_Batch_Files
Prediction_Batch_files
models
K_Means_ElbowPlot/K-Means_Elbow.PNG
Documentation
Prediction_Logs
Training_Logs
EDA/.ipynb_checkpoints/creditCardFraudEDA-checkpoint.ipynb
templates
Prediction_DatabasePrediction.db
Prediction_FileFromDB
Prediction_Output_File